.title{
  color: #3F51B5;
}

.membertable{
  margin: 10px;
}

/* make chartjs canvas responsive inside flexbox div*/
.chartjs-card{
  min-width: 0;
  width: 350px;
  height: 170px;
  background-color: #EBEBEB;
}

.upcontent{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.btn-actions{
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.btn{
  margin: 5px;
  height: 50px;
}

.weather{
  margin-right: 10px;
  margin-bottom: 10px;
}
