<h2>
  Dashboard: Today is
  <span class="title">{{todayDate | date}}</span>
</h2>
<mat-divider></mat-divider>
<mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>

<div class="upcontent">
  <div class="btn-actions">
    <button mat-raised-button class="btn" color="primary" [routerLink]="['/memberFile', 0, 'edit']">
      <mat-icon>add</mat-icon>
      New Staff Member
    </button>
    <button mat-raised-button class="btn" color="primary" [routerLink]="['/dayoff']">
      <mat-icon>add</mat-icon>
      New Day off Document
    </button>
    <button mat-raised-button class="btn" color="primary" [routerLink]="['/dailyRoster']">
      <mat-icon>pageview</mat-icon>
      View Daily Roster
    </button>
    <button mat-raised-button class="btn" color="primary" [routerLink]="['/tasks']">
      <mat-icon>assignment</mat-icon>
      Daily Task Manager
    </button>
  </div>
  <app-weather-widget class="weather"></app-weather-widget>
  <mat-card *ngIf="report" class="chartjs-card">
    <app-roster-chart [reportData]="report"></app-roster-chart>
  </mat-card>
</div>

<mat-card *ngIf="memberDailyState.length" class="membertable mat-elevation-z8">
  <app-search (searchValue)="onFilter($event)"></app-search>
  <app-member-table [data]="memberDailyState" [filter]="filterValue"></app-member-table>
</mat-card>


