<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="content">
    <img src="{{ userInfo.userAvatar }}" alt="logo" class="UserPic" />
    <span class="NameTitle">{{ userInfo.userFullNameTitle }}</span>
    <mat-divider></mat-divider>
    <mat-nav-list dense>
      <mat-list-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>Sign Out
      </mat-list-item>
      <mat-divider class="mdiv"></mat-divider>
      <mat-list-item routerLink="#">
        <mat-icon>military_tech</mat-icon>Commander
      </mat-list-item>
      <mat-list-item routerLink="#">
        <mat-icon>star_half</mat-icon>Deputy Commander
      </mat-list-item>
      <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
          1st office
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="#">
            <mat-icon>dashboard</mat-icon>Dashboard
          </a>
          <a mat-list-item routerLink="#">
            <mat-icon>import_contacts</mat-icon>Daily Unit Command
          </a>
          <a mat-list-item routerLink="#">
            <mat-icon>text_snippet</mat-icon>Document Protocol
          </a>
          <a mat-list-item routerLink="#">
            <mat-icon>insert_chart</mat-icon>Daily Roster
          </a>
          <a mat-list-item routerLink="#">
            <mat-icon>person</mat-icon>Staff Information
          </a>
          <a mat-list-item routerLink="#">
            <mat-icon>folder_shared</mat-icon>Individual Soldier File
          </a>
          <a mat-list-item routerLink="#">
            <mat-icon>add_location_alt</mat-icon>Route/Transition Document
            Sheet
          </a>
          <a mat-list-item routerLink="#">
            <mat-icon>work_off</mat-icon>Day off Request
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
          2nd, 3rd office
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="#">
            <mat-icon>add</mat-icon>New Document
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
        <mat-expansion-panel-header>
          4th office
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLink="#">
            <mat-icon>add</mat-icon>New Document
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </div>
</div>
