<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="content">
    <img src="{{ userInfo.userAvatar }}" alt="logo" class="UserPic" />
    <span class="NameTitle">{{ userInfo.userFullNameTitle }}</span>
    <mat-divider></mat-divider>

    <mat-nav-list dense (click)="closeSidebarOnSmallerScreens()">
      <mat-list-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>Sign Out
      </mat-list-item>
      <mat-divider class="mdiv"></mat-divider>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>Dashboard
      </a>
      <a mat-list-item routerLink="/dailyRoster" routerLinkActive="active">
        <mat-icon>insert_chart</mat-icon>Daily Roster
      </a>
      <a mat-list-item routerLink="/staff" routerLinkActive="active">
        <mat-icon>person</mat-icon>Basic Staff Information
      </a>
      <a mat-list-item routerLink="/memberFile" routerLinkActive="active">
        <mat-icon>folder_shared</mat-icon>Individual Staff Member File
      </a>
      <a mat-list-item routerLink="/dayoff" routerLinkActive="active">
        <mat-icon>work_off</mat-icon>Day off Document
      </a>
      <a mat-list-item routerLink="/tasks" routerLinkActive="active">
        <mat-icon>build</mat-icon>Daily Task Manager
      </a>
    </mat-nav-list>
  </div>
</div>
