<div class="container">
  <header>
    <h2>Day off Document</h2>
  </header>
  <mat-divider></mat-divider>
  <mat-progress-bar *ngIf="loading" mode="indeterminate" color="warn"></mat-progress-bar>
  <ng-container *ngIf="memberDaysOff$ | async as memberDaysOff">
    <mat-card *ngIf="memberDaysOff.length">
      <h3>
        Previous arranged Days-off for
        {{memberDaysOff[0].staffmember.rank}}
        {{memberDaysOff[0].staffmember.fullname}}
      </h3>
      <mat-card-content>
        <div *ngFor="let item of memberDaysOff">
           <li>{{item.start_date | date}} - {{item.end_date | date}}</li>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <mat-card class="main" *ngIf="staffnames">

      <form novalidate [formGroup]="dayOffForm" (ngSubmit)="onSubmit()" autocomplete="off">

        <div class="ng-select">
          <p>
            <ng-select appearance="outline"
                       [items]="staffnames"
                       [selectOnTab]="true"
                       #select
                       bindLabel="fullnameTitle"
                       placeholder="Select staff member"
                       [virtualScroll]="true"
                       formControlName="staffMember"
                       [ngClass]="{'ng-invalid': form.staffMember.invalid}">
                       <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                        <div class="item">
                          <img [src]="item.foto || avatarFoto" height="25"><span>{{item.fullnameTitle}}</span>
                        </div>
                       </ng-template>

            </ng-select>
          </p>
          <div class="invalid" *ngIf="form.staffMember.invalid && form.staffMember.touched">
            Staff member <strong>not found.</strong>
          </div>
        </div>

          <p class="typefield">
            <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <mat-select name="type" formControlName="type">
                <mat-option *ngFor="let type of dayoff_Types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.type.invalid">
                Type <strong>required</strong>.
              </mat-error>
            </mat-form-field>
          </p>

          <p class="formfield">
            <mat-form-field appearance="outline">
              <mat-label class="label">Destination</mat-label>
              <input type="text"
                     matInput
                     placeholder="e.g Athens"
                     formControlName="destination" />
                     <mat-icon matSuffix>place</mat-icon>
                     <mat-error *ngIf="form.destination.invalid">
                       Destination is <strong>required.</strong>
                     </mat-error>
            </mat-form-field>
          </p>

          <p class="formfield">
            <mat-form-field appearance="outline">
              <mat-label>Select Dates</mat-label>
              <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker]="picker">
                <input matStartDate formControlName="start_date" placeholder="Start date">
                <input matEndDate formControlName="end_date" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="form.start_date.hasError('required') && form.start_date.touched">
                  Start date is <strong>required.</strong>
              </mat-error>
              <mat-error *ngIf="form.end_date.hasError('required') && form.end_date.touched">
                End date is <strong>required.</strong>
              </mat-error>
              <mat-error *ngIf="form.start_date.hasError('matDatepickerMin')">
                Invalid start date.
              </mat-error>
              <mat-error *ngIf="form.end_date.hasError('matDatepickerMax')">
                Invalid end date.
              </mat-error>
            </mat-form-field>
          </p>

          <div class="actionbtns">
            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]='dayOffForm.invalid'>
                      Submit
            </button>
            <button mat-raised-button
                    color="primary"
                    type="button"
                    (click)="createpdf('export')"
                    [disabled]='!submited || dayOffForm.invalid'>
              <i class="fas fa-file-export"></i>
              Export as pdf
            </button>
            <button mat-raised-button
                    color="primary"
                    type="button"
                    (click)="createpdf('print')"
                    [disabled]='!submited || dayOffForm.invalid'>
              <mat-icon>print</mat-icon>
              Print Document
            </button>
          </div>

        </form>
  </mat-card>
</div>
