.container{
  height: 100vh;
  padding: 10px;
}

.main{
  margin-top: 10px;
}


.ng-select {
  width:100%;
  max-width: 600px;
  margin: 0 auto;
}


.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  line-height: 45px;
  height: 45px;
  padding: 0 16px;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
}
span {
  margin-left: 5px;
}

.invalid{
  color: rgb(233, 57, 57);
  font-size: 11px;
  margin-left: 12px;
  margin-top:-10px
}

.datefield{
  margin: 0 auto;
  margin-top:10px;
  max-width: 600px;
}

.typefield{
  margin: 0 auto;
  margin-top:30px;
  max-width: 600px;
}

mat-form-field{
  width: 100%;
}


