.foto{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border:1px solid rgb(0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

mat-form-field, app-options-input{
  margin: 10px;
}

.titlecontainer {
  display: flex;
  justify-content: space-between;
}

.form_container{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.submitButton{
  margin-right: 10px;
}

.mat-radio-button {
  margin: 8px 8px 0 0;
}

.classDiv{
  border: 2px solid #EBEBEB;
  border-radius: 5px;
  color: grey;
}

.classDiv:hover {
  border: 2px solid black
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}




