.header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.new{
  margin-left: 10px;
}

.new-btn{
  margin-top: -8px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.order{
  margin-right: 15px;
}

.search{
  flex-grow: 2;
  max-width: 100%;
}

mat-progress-bar{
  margin: 10px;
}

.file{
  margin-bottom: 10px;
  background: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .file {
    display: flex;
    flex-direction: column;
  }
  .btns {
    margin-top: 7px;
  }
}

.names{
  display: flex;
  flex-direction: column;
}

.name{
  font-weight: bold;
  font-size: large;
}

.info{
  display: flex;
}

.UserPic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border:2px solid #3F51B5;
  vertical-align: middle;
  margin-right: 15px;
}

.btns {
  margin-right: 7px;
}
