<div [formGroup]="form" style="display: flex; flex-direction: column;">
  <label for="first-name">type</label>
  <input formControlName="type" id="type" />

  <label for="last-name">total_days</label>
  <input formControlName="total_days" id="total_days" />

  <label for="email">imposition_date</label>
  <input formControlName="imposition_date" id="imposition_date" />

  <label for="email">reason</label>
  <input formControlName="reason" id="reason" />

  <label for="email">imposition_officer</label>
  <input formControlName="imposition_officer" id="imposition_officer" />

</div>
