<div class="container">

  <ng-container *ngIf="imageUrl; else noImage">
    <img [src]="imageUrl" />
  </ng-container>
  <ng-template #noImage>
    <img src="../../../../assets/images/Useravatar.jpg">
  </ng-template>

  <div class="form-wrapper">
    <mat-form-field [appearance]="appearance">
      <mat-toolbar>
        <!-- Readonly Input to show File names -->
        <input matInput [(ngModel)]="filename" readonly name="memberContactNo" />
        <!-- Browse Button -->
        <button mat-flat-button color="primary">
          Browse
        </button>
      </mat-toolbar>
      <!-- Fetch selected filed on change -->
      <input type="file"
             #UploadFileInput
             id="fileUpload"
             [disabled]="uploading"
             (change)="onfileChangeEvent($event)"
             name="fileUpload"
             accept="image/*" />
    </mat-form-field>
    <mat-error *ngIf="imageError">{{imageError}}</mat-error>
    <button mat-stroked-button
            color="primary"
            type="button"
            (click)="onFileUpload()"
            [disabled]="!imgLoaded">
      <mat-icon>file_upload</mat-icon>
      Upload
    </button>
    <button mat-stroked-button
            color="warn"
            type="button"
            (click)="cancel()"
            [disabled]="!imgLoaded">
      <mat-icon>cancel</mat-icon>
      cancel
    </button>
    <div class="upload" *ngIf="uploading">
      <mat-spinner diameter="20"></mat-spinner>
      <span *ngIf="uploadProgress">{{uploadProgress}}%</span>
    </div>
    <div class="result" *ngIf="uploadSuccess" [style.color]="(uploadSuccess === 'success')? 'green': 'red'">
      <ng-container *ngIf="uploadSuccess === 'success'; else fail">
        <i class="fas fa-check-circle"></i> Done!
      </ng-container>
      <ng-template #fail>
        <i class="fas fa-times-circle"></i> Fail!
      </ng-template>
    </div>
  </div>








</div>



