<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">account_circle</mat-icon>
      General Info
    </ng-template>
    <div class="content">
      <app-display-info></app-display-info>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">card_travel</mat-icon>
      Days off
    </ng-template>
    <div class="content">
      <app-display-daysoffs></app-display-daysoffs>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">lock</mat-icon>
      Penalties
    </ng-template>
    <div class="content">
      <app-display-penalties></app-display-penalties>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">directions_walk</mat-icon>
      Training
    </ng-template>
    <div class="content">
      <app-display-training></app-display-training>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">border_outer</mat-icon>
      Shots Fired
    </ng-template>
    <div class="content">
      <app-display-shots></app-display-shots>
    </div>
  </mat-tab>
</mat-tab-group>
