header{
  display: flex;
  align-items: center;
}

h2{
  margin-right: 10px;
  margin-bottom: -3px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.side {
  flex: 50%;
}

.main {
  flex: 50%;
}

@media only screen and (max-width: 500px) {
  .row {
      flex-direction: column;
  }
}

.roster-title{
  width: 100%;
  padding-left: 10px;
}

.info{
  margin: 10px;
  display: flex;
}

.info > button {
  margin-right: 10px;
}
